.page-title {
	text-align: center;
	background-color: rgb(40, 40, 40);
	color: rgb(200, 200, 200);
	letter-spacing: 5px;
	font-family: 'Quicksand', 'sans-serif';
	padding-top: 20px;
	background-image: linear-gradient( rgb(40, 40, 40), rgb(0, 0, 0) );
	background-image: -webkit-linear-gradient( rgb(40, 40, 40), rgb(0, 0, 0) );
	font-size: 36px;
}

body {
	overflow: hidden;
}

.content {
	position: absolute;
	top: 50px;
	bottom: 50px;
	width: 100%;
}

.page {
	height: 100%;

	h1 {
		height: 10%;
		margin: 0 !important;			
	}
}

@media screen and (max-height: 600px) {
	.page-title {
		font-size: 18px;		
	}
}

@media screen and (max-height: 500px) {
	.page-title {
		font-size: 12px;		
	}
}