$title-color: rgb(0, 0, 0);
$title-color-hover: rgb(50, 60, 200);
$visibility-btn-color: rgb(0, 0, 230);
$close-btn-color: rgb(255, 0, 0);

.fixedDataTableLayout_main {
	text-align: center;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 1.2px;	
}

.track-options-container {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;

	&>a {
		margin-right: 4px;
		margin-left: 4px;
		line-height: 18px;
	}

	.track-title {
		color: $title-color;
		text-decoration: none;
		margin-left: 20px;
		flex: 10;

		&:hover,
		&:active,
		&:focus {
			color: $title-color-hover;
			text-decoration: none;
		}
	}
}

.close-btn {
	color: $close-btn-color;
	font-size: 20px;
	flex: 1;

	&:hover {
		color: $close-btn-color;
	}	
}

.visibility-btn {
	color: $visibility-btn-color;
	font-size: 20px;
	flex: 1;

	&:hover {
		color: $visibility-btn-color;
	}	
}