$visibility-btn-color: rgb(0, 0, 230);
$close-btn-color: rgb(255, 0, 0);

.upload-rights .chart-container {
	top: 210px;
}

.artist-tracks-chart {
	.title-header {
		margin-left: 100px;
	}
}

.track-options-container {
	display: flex;
	text-align: left;

	.cell-link {
		margin-left: 0;
		line-height: 32px;
	}
}

.track-options {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 80px;

	&>a {
		font-size: 20px;
		margin-left: 7px;
		margin-right: 7px;
	}
}

.close-btn {
	color: $close-btn-color;

	&:hover,
	&:focus {
		color: $close-btn-color;
	}	
}

.visibility-btn {
	color: $visibility-btn-color;

	&:hover,
	&:focus {
		color: $visibility-btn-color;
	}	
}