$title-color: rgb(50, 50, 50);
$title-color-hover: rgb(50, 60, 200);

.react-dimensions-chart-wrapper {
	position: absolute;
	color: $title-color;
}

.chart-container {
	top: 85px;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.fixedDataTableLayout_main {
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 1.2px;
	
	.cell-link {
		color: $title-color;
		text-decoration: none;
		flex: 10;
		display: block;	

		&:hover,
		&:active,
		&:focus {
			color: $title-color-hover;
			text-decoration: none;
		}
	}	
}