$navbar-color: rgb(20, 20, 20);
$hover-color: rgb(60,60,60);
$font-color: rgb(255, 255, 255);
$theme-color-1: rgb(153, 255, 253);
$theme-color-2: rgb(243, 247, 168);

.navbar .navbar-nav>li>a {
	color: $font-color;
}

.navbar {
	z-index: 999;
}

.dropdown-menu>li>a, .dropdown-menu>li>a:hover, li>a {
	color: $font-color;
	font-size: 17px;
}

.navbar {
	background-color: $navbar-color;
	border: none;
	border-radius: 0;
	margin: 0;
	letter-spacing: 1.2px;
    font-family: 'Quicksand', sans-serif;
}

.navbar-default .navbar-brand {
	color: $theme-color-1;
}

a.navbar-brand {
   background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .navbar-nav>li:hover,
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	background-color: $hover-color;
}

.navbar-default .navbar-nav>.dropdown.open>a {
	background-color: $hover-color;
	color: $font-color;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: $font-color;
}

.dropdown-menu {
	background-color: $navbar-color;
	border: none;
}

.navbar .navbar-plays.new-plays {
	background-color: rgb(30, 185, 238);
	border-radius: 1px;
}

.navbar .navbar-plays.new-plays a.navbar-plays-text {
	color: black;
}

/* Signup/login modal */

.modal-dialog {
	font-family: "Quicksand", "sans-serif";
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	border-radius: 0;
	.modal-header,
	.modal-footer {
		border: none;
	}

	h4 {
		font-size: 26px;
	}

	input {
		margin: 10px;
	}

	.modal-submit {
		margin-top: 15px;
		width: 176px;
		height: 30px;
		border-radius: 7px;
		background-color: rgb(250, 250, 250);
		box-shadow: none;
		border: 1px rgb(70, 70, 70) solid;
		color: rgb(89, 89, 89);
		font-weight: bold;
		letter-spacing: 1.1px;

		&:hover {
			background-color: rgb(89, 89, 89);
			color: rgb(250, 250, 250);
		}
	}
}
