.page-title {
	text-align: center;
	background-color: rgb(40, 40, 40);
	color: rgb(200, 200, 200);
	letter-spacing: 5px;
	font-family: 'Quicksand', 'sans-serif';
	padding-top: 10px;
	background-image: linear-gradient( rgb(40, 40, 40), rgb(0, 0, 0) );
	background-image: -webkit-linear-gradient( rgb(40, 40, 40), rgb(0, 0, 0) );
}